---
Language: Cpp
BasedOnStyle: WebKit
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass:            false
    AfterControlStatement: false
    AfterEnum:             false
    AfterFunction:         true
    AfterNamespace:        false
    AfterObjCDeclaration:  false
    AfterStruct:           false
    AfterUnion:            false
    BeforeCatch:           false
    BeforeElse:            true
    IndentBraces:          false
PointerAlignment: Right
SpacesBeforeTrailingComments: 4
IndentWidth: 4
UseTab: Never
...
